<?xml version="1.0"?>
<phpunit bootstrap="./tests/bootstrap.php" backupGlobals="false" colors="true" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnSkipped="false" stopOnIncomplete="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="parse-php-sdk">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">./src/Parse</directory>
    </include>
  </source>
</phpunit>
